*{
    margin: 0 auto;
}
body{
    background-color: rgb(109, 123, 170);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.bem{
    display: inline-block;
    margin-left: 50px;
}
.menu{
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 10px solid black;
    border-style:outset;
    border-radius: 30px;
    width: 400px;
    margin-left: 10px;
    padding: 10px;
    display: inline-block;
}
.menu a{
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.menu a:hover{
    color: blue;
}
.menu:hover{
    background-color: aquamarine;

}
.fundo{
    background-color: rgb(72, 100, 179);
    padding: 20px;
    
}
.coorpo{
    background-color: rgb(25, 51, 122);
    height: 30px;
}
.lista{
    margin-left: 20%;
    padding: 5px;
    
}
.int{
    background-color: rgb(61, 103, 139);
    padding-left: 10px;
    border-radius: 10px;
    padding-right: 10px;
    border: 2px solid;
    border-color: rgb(29, 29, 73);
    border-style: outset; 
    font-size: 15px;
    display: inline;
    margin: 10px;
    list-style: none;
    
}
.int a{
    text-decoration: none;
    color: black;
}
.int a:hover{
    color: aqua;
}
.foto{
    margin-top: 80px;
    margin-left: 150px;
    padding-left: 15px;
}
.foto img{
    border: 5px solid;
    width: 400px;
    border-radius: 500px;
    border-style: groove;
    border-color: black;
}
.text1{
    margin-left: 250px;
    margin-bottom: px;
}
.text1 h2{
    padding-top: 50px;
    margin:30px;
    margin-left: 120px;
}
.pag{
    display: inline-flex;
}
.pag .text1 p{
    width: 400px;
    text-align: center;
    margin-left: 1%;
    background-color: rgb(78, 92, 151);
    border: 3px solid;
    padding: 10px;
}
.cop{
    margin: 50px;
    margin-left: 150px;
}
.cop .list5{
    font-family: cursive;
    padding: 5px;
    margin-top: 15px;
    margin-left: 10px;
    border: 3px solid;
    background-color: rgb(78, 92, 151);
    width: 500px;
}
.cop2{
    margin: 50px;
    margin-left: 80px;
}
.cop2 .list6{
    font-family: cursive;
    padding: 5px;
    margin-top: 15px;
    margin-left: 10px;
    border: 3px solid;
    background-color: rgb(78, 92, 151);
    width: 500px;
}
.liss{
    display: inline-flex;
}
.dez{
    display: inline-flex;
}
.cop10{
    margin: 50px;
    margin-left: 150px;
}
.cop10 .list10{
    font-family: cursive;
    padding: 5px;
    margin-top: 15px;
    margin-left: 10px;
    border: 3px solid;
    background-color: rgb(78, 92, 151);
    width: 500px;
}
.cop11{
    margin: 50px;
    margin-left: 80px;
}
.cop11 .list11{
    font-family: cursive;
    padding: 5px;
    margin-top: 15px;
    margin-left: 10px;
    border: 3px solid;
    background-color: rgb(78, 92, 151);
    width: 500px;
}
.dados1{
    margin: 50px;
    margin-left: 450px;
}
.dados1 h3{
    padding-left: 190px;
}
.dados1 .dados2{
    font-family: cursive;
    padding: 5px;
    margin-top: 15px;
    margin-left: 10px;
    border: 3px solid;
    background-color: rgb(78, 92, 151);
    width: 500px;
}
.rodape{
    text-align: center;
    font-family:monospace
}
